$base-color: #fcfcfc;
$primary-accent: #56cbf9;

html {
    font-family: sans-serif;
    background-color: $base-color;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    box-sizing: border-box;
    margin: auto;
}

.hero {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #eeeeee;

    h1 {
        margin-bottom: 0em;
    }
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 30%;
    max-width: 8em;
    margin: 0 1em 0 1em;
    min-height: 2em;
    background-color: $primary-accent;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
}